.noReview {
  color: #666666;
}

.intro {
  text-align: justify;
}

.cartDisabled {
  background-color: #666666;
  cursor: default;
}

.buyDisabled {
  background-color: #1581cc;
  cursor: default;
}
