// 全站配色 colors
$primary: #1581cc;
$light-primary: #18a1ff;
$deep-primary: #124365;
$dark: #1d1d1d;
$secondary: #666666;
$body: #b9b9b9;
$yellow: #faad14;
$red: #ec3f3f;

// 字體大小
$h1: 40px;
$h2: 32px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 18px;
$small: 14px;
