.minHeight95 {
  min-height: 95svh;
}

.cursorPointer {
  cursor: pointer;
}

.title40 {
  font-size: 40px;
}

.instrumentTitle {
  color: #18a1ff;
  font-size: 40px;
}

.instrumentTitleMb {
  color: #18a1ff;
}
