.activeCategory {
  color: #18a1ff;
  cursor: pointer;
}

.inactiveCategory {
  cursor: pointer;
}

.bcItem1 {
  margin-left: 8px;
}

.bcItem2 {
  margin-left: 10px;
}

.sidebarTrigger {
  padding-inline: 16px;
}

.minHeight95 {
  min-height: 95svh;
}
