.ballboxGap {
  gap: 10px;
}

.flowcartWrapper {
  height: 100vh;
  padding-inline: 20px;
  flex: 0 0 440px;
}

.sidebarGap {
  gap: 20px;
  top: 110px;
}

.innerGap {
  gap: 20px;
}

.btnPad {
  padding: 14px 0;
}
