.bcItem1 { margin-left: 8px; }
.bcItem2 { margin-left: 10px; }
.sidebarTrigger { padding-inline: 16px; }
.primary { color: #1581cc; }
.grayCursor { color: gray; cursor: pointer; }
.warningOffset { margin-top: -8px; }
