.bcItem1 { margin-left: 8px; }
.bcItem2 { margin-left: 10px; }
.sidebarTrigger { padding-inline: 16px; }
.minHeight95 { min-height: 95svh; }
.badgeGroup { gap: 8px; flex: 1 0 0; }
.btnPadH { padding-inline: 38px; }
.marginBlock10 { margin-block: 10px; }
.warningOffset { margin-top: -8px; }
.textJustify { text-align: justify; }
.objectCover { object-fit: cover; }
.hrMargin { margin: 6px; }
.cursorPointer { cursor: pointer; }
.primary { color: #1581cc; }
.secondary { color: #666666; }
.dark { color: #1d1d1d; }
.lightPrimary { color: #18a1ff; }
.yellow { color: #faad14; }
.padH10 { padding-inline: 10px; }
.height36 { height: 36px; }
.width250 { width: 250px; }
.padV2 { padding-block: 2px; }
.padV2_5 { padding-block: 2px 5px; }
.padBottom5 { padding-bottom: 5px; }
.autoWidth { width: auto; }
.text18 { font-size: 18px; }
.wh100 { width: 100%; height: 100%; }
.noPad { padding: 0; }
.marginTop5 { margin-top: 5px; }
.panelBg { background-color: rgba(185, 185, 185, 0.3); }
.btnDisable { padding-inline: 38px; background-color: #666666; }
